@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Cedarville+Cursive&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Google+Sans:ital,opsz@0,17..18;1,17..18&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 15px;
}

div.container1 {
    background-color: rgb(248, 247, 244);
    width: 100vw;
    height: 100vh;
    animation: start 3s 1 ease-in-out;
}

#herosection {
    position: relative;
    width: 100%;
    height: 100%;
}

#herosection::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(/static/images/contimg4.jpg) no-repeat center center/cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: herosection 1s forwards;
    animation-delay: 9s;
    box-shadow: 0px -10px 10px 10px black;
    border-bottom-left-radius: 5px;
    will-change: transform;
}

@keyframes herosection {
    to {
        opacity: 1;
    }
}



@keyframes ul {
    from {
        transform: translateY(-75px);
    }

    to {
        transform: translateY(0);
    }
}

li#home a::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation: home .3s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 3.7s;
    transition: transform;
    will-change: transform;
    transform: translateX(-800px);
}

@keyframes home {
    to {
        transform: translateX(0);
    }
}

li#about a::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation: about .3s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 4s;
    transition: transform;
    will-change: transform;
    transform: translateX(-900px);
}

@keyframes about {
    to {
        transform: translateX(0);
    }
}

li#menu a::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation: menua .3s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 4.3s;
    transition: transform;
    will-change: transform;
    transform: translateX(-1000px);
}

@keyframes menu {
    to {
        transform: translateX(0);
    }
}

li#navcontact a::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation: navcontact .3s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 4.6s;
    transition: transform;
    will-change: transform;
    transform: translateX(-1000px);
}

@keyframes navcontact {
    to {
        transform: translateX(0);
    }
}

/* li.nav-item a:hover::before {
    animation: left .3s forwards;
    } */
ul {
    width: 50%;
    background: rgb(212, 179, 113);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(212, 179, 113);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    box-shadow: 2px 2px 10px black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: nav 1s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: .5s;
    transition: transform;
    will-change: transform;
    transform: translateY(-100px);
}

@keyframes nav {
    to {
        transform: translateY(0);
    }
}

li.nav-item {
    margin: 1rem auto;
    list-style: none;
}

li#home {
    animation: home 1s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 1.5s;
    transition: transform;
    will-change: transform;
    transform: translateX(-800px);
}

@keyframes home {
    to {
        transform: translateX(0);
    }
}

li#about {
    animation: about .5s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 2.5s;
    transition: transform;
    will-change: transform;
    transform: translateX(-900px);
}

@keyframes about {
    to {
        transform: translateX(0);
    }
}

li#menu {
    animation: menua .4s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 3s;
    transition: transform;
    will-change: transform;
    transform: translateX(-1000px);
}

@keyframes menua {
    to {
        transform: translateX(0);
    }
}

li#navcontact {
    animation: navcontact .3s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 3.4s;
    transition: transform;
    will-change: transform;
    transform: translateX(-1000px);
}

@keyframes navcontact {
    to {
        transform: translateX(0);
    }
}

li.nav-item a {
    text-decoration: none;
    padding: 0px 0px;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: black;
    position: relative;
}

@keyframes nava {
    to {
        transform: translateX(0);
    }
}

@keyframes left {
    to {
        width: 100%;
    }

}

#herosection {
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
}

#section {
    width: 50%;
    height: 70%;
    margin-bottom: 1.5rem;
}

.hero {
    will-change: transform;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.linehero {
    width: 15%;
    margin-left: 3rem;
    margin-top: .8rem;
    margin-bottom: 2rem;
    height: 2px;
    background-color: rgb(184, 150, 87);
    animation: heroline .5s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 8.5s;
    transform: translateX(-1000px);
    will-change: transform;
}

@keyframes heroline {
    to {
        transform: translateX(0);
    }
}

.hero h1 {
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 4.5rem;
    margin-top: .5rem;
    margin-left: 3rem;
    animation: typing 2s steps(17) forwards;
    animation-delay: 6.5s;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    will-change: transform;
}

@keyframes typing {
    to {
        width: 17ch;
    }
}

.hero p {
    text-align: center;
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    width: 50%;
    animation: p .5s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 5.5s;
    transform: translateX(-1000px);
    will-change: transform;
}

@keyframes p {
    to {
        transform: translateX(0);
    }
}

.hero a {
    text-decoration: none;
    padding: 10px 18px;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    background-color: rgb(184, 150, 87);
    margin-left: 3rem;
    color: black;
    box-shadow: 2px 2px 10px black;
}

.exploremenu {
    animation: a .5s cubic-bezier(.17, .67, .83, .67) forwards;
    animation-delay: 6s;
    transform: translateX(-1000px);
    will-change: transform;
}

@keyframes a {
    to {
        transform: translateX(0);
    }
}

#section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 400px;
    box-shadow: 1px 1px 5px black;
    margin: auto;
    border: none;
    border-radius: 10px;
    margin-bottom: 5rem;
}

.box1 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@keyframes box1img {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0);
    }
}

.box1 img {
    will-change: transform;
    transition: transform 1s cubic-bezier(.17, .67, .83, .67);
    animation: box1img 1s 1;
    animation-delay: 8s;
    width: 90%;
    height: 90%;
    border-radius: 18px;
    object-fit: cover;
    /* box-shadow: 2px 2px 10px black; */
}

@keyframes box2 {
    from {
        transform: translateX(800px);
    }

    to {
        transform: translateX(0);
    }
}

div.linesec1 {
    width: 15%;
    margin-left: 2rem;
    margin-top: .8rem;
    margin-bottom: .8rem;
    height: 2px;
    background-color: rgb(184, 150, 87);
}

.box2 {
    will-change: transform;
    transition: transform 1s cubic-bezier(.17, .67, .83, .67);
    animation: box2 1s 1;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box2 h1 {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-left: 2rem;
}

.box2 h2 {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    width: 40%;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: .8rem;
}

.box2 a {
    text-decoration: none;
    padding: 7px 15px;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(184, 150, 87);
    margin-left: 2rem;
    margin-top: 1rem;
    width: 40%;
    font-size: 1.2rem;
    color: black;
    box-shadow: 2px 2px 10px black;
}

.signmenu {
    width: 100%;
    height: 30%;
}

.signmenu h1 {
    font-size: 4rem;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 1.5rem;
}

.signmenu h2 {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

#section2 {
    width: 100%;
    height: 500px;
    margin-bottom: 5rem;
}

.dishes {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dish {
    width: 20%;
    height: 100%;
    border: none;
    box-shadow: 2px 2px 10px black;
}

.dish h2 {
    text-align: center;
    font-family: "Cedarville Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.dish p {
    text-align: center;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 1rem;
}

.dishimg {
    width: 100%;
    height: 55%;
    margin: auto;
}

.dishimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(243, 232, 232);
    width: 80%;
    height: 320px;
    margin-bottom: 2rem;
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;

}

#section4 h1 {
    text-align: center;
    margin: 0px auto;
    font-size: 4rem;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.whyus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.card {
    width: 25%;
    height: 100%;
    margin: auto;
}

.card p {
    text-align: center;
    margin: 20px auto;
    width: 60%;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 1rem;
}

.card h2 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#section5 {
    width: 60%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.bigimg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    width: 70%;
    height: 100%;
}

.smallimg {
    width: 30%;
    height: 100%;
}

.image img {
    object-fit: cover;
    transition: transform .6s;
}

#image1 {
    width: 100%;
    height: 100%;
}

#image1 img {
    width: 99%;
    height: 99%;
}

#image2 {
    width: 100%;
    height: 50%;
}

#image2 img {
    width: 99%;
    height: 99%;
}

.image img:hover {
    transform: scale(1.02);
}

#image3 {
    width: 100%;
    height: 50%;
}

#image3 img {
    width: 99%;
    height: 99%;
}

#section6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 250px;
    background-color: rgb(243, 232, 232);
    border-radius: 10px;
}

#section6 h1 {
    color: black;
    font-size: 4rem;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 1rem;
}

#section6 h2 {
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.reservetable {
    width: 20%;
    margin-bottom: 2rem;
}

#section6 a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    background-color: rgb(184, 150, 87);
    box-shadow: 2px 2px 10px black;
}

#contact {
    background-color: #ACA191;
    width: 80%;
    margin: 50px auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.rest {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rest h2 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 1.5rem auto;
}

.rest p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    width: 90%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.links h2 {
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 1.5rem auto;
}

.links a {
    margin: 10px auto;
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    position: relative;
}

.links p {
    text-align: center;
}

.findus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
}

.findus h2 {
    margin: 20px auto;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.findus p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    margin-bottom: 15px;
    width: 90%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.footer p {
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

/* =========================================================
   MOBILE RESPONSIVE DESIGN
   ========================================================= */

@media screen and (max-width: 1024px) {
    html {
        font-size: 10px;
    }

    .container1 {
        width: 100%;
        height: 1000%;
    }

    #herosection {
        width: 100%;
        height: 60%;
    }

    li.nav-item a {
        font-size: 1.7rem;
    }

    ul {
        width: 85%;
        height: 8%;
    }

    #herosection::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        animation: herosection 1s forwards;
        animation-delay: 5s;
        box-shadow: 0px -10px 10px 10px black;
        border-bottom-left-radius: 5px;
        will-change: transform;
    }

    @keyframes herosection {
        to {
            opacity: .8;
        }
    }

    #section {
        width: 90%;
        height: 92%;
        margin-bottom: 1.5rem;
    }

    .hero {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hero h1 {
        font-size: 4rem;
        text-align: center;
        color: white;
    }

    .hero p {
        color: white;
        text-align: center;
        font-size: 25px;
        width: 100%;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }

    .hero a {
        margin: 0;
    }

    .exploremenu {
        margin: 20px auto;
    }

    .exploremenu a {
        font-size: 25px;
    }

    div.linehero {
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    #section1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
        margin-top: 5rem;
        height: 200px;
        background-color: #fffdf5;
        border-radius: 15px;
        animation: box 1s forwards;
        animation-delay: 10s;
        box-shadow: 0px 0px 0px black;
    }

    @keyframes box {
        to {
            box-shadow: 1px 1px 5px black;
        }
    }

    .box1 {
        width: 60%;
        height: 95%;
        margin-right: 20px;
    }

    .box1 img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        animation: box1img 1s forwards;
        animation-delay: 9s;
        transform: translateX(-1000px);
        transform-origin: left;
        transition: transform;
        will-change: transform;
    }
    @keyframes box1img {
        to {
        transform: translateX(0);           
    }
}
    .box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 100%;
        animation: box2 1s forwards;
        animation-delay: 9s;
        transform: translateX(1000px);
        transform-origin: right;
        transition: transform;
        will-change: transform;
    }
    @keyframes box2 {
        to {
            transform: translateX(0);
        }
    }

    .box2 h1 {
        font-size: 2rem;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .box2 h2 {
        font-size: 1.5rem;
        width: 70%;
    }

    .box2 a {
        font-size: 1rem;
        margin: 10px auto;
        width: 90%;
    }

    div.linesec1 {
        margin-top: .5rem;
        margin-bottom: 1rem;
        width: 50%;
    }

    #section2 {
        width: 95%;
        height: 200px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 8rem;
        margin-top: 10rems;
        animation: sec2 .1s forwards;
        opacity: 0;
        animation-delay: 10.5s;
    }
    @keyframes sec2 {
        to {
            opacity: 1;
        }   
    }
    .signmenu {
    width: 100%;
    height: 45%;
}
    .signmenu h1 {
        font-size: 3rem;
    }

    .signmenu h2 {
        font-size: 2rem;
    }

    .dishes {
        width: 100%;
        height: 65%;
    }

    .dish {
        height: 100%;
        width: 20%;
        margin: auto;
    }

    .dish h2 {
        font-size: 2rem;
        margin: auto;
    }

    .dish p {
        font-size: 1rem;
        margin: auto;
    }

    .dishimg {
        height: 50%;
        width: 100%;
    }

    .dishimg img {
        object-fit: cover;
    }

    .featuretext {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
        height: 200px;
        box-shadow: 2px 2px 8px black;
    }

    #section4 {
        height: 280px;
        width: 90%;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto;
    }

    #section4 h1 {
        font-size: 30px;
        width: 75%;
        margin-top: 25px;
    }

    .card p {
        font-size: .8rem;
        margin: 10px auto;
    }

    .card h2 {
        font-size: 15px;
    }

    #section5 {
        height: 200px;
        margin-bottom: 5rem;
    }

    #section6 {
        height: 300px;
        padding-top: 30px;
    }

    #section6 h2 {
        font-size: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }

    #section6 h1 {
        font-size: 35px;
        margin-top: 2rem;
    }

    .reservetable {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .reservetable a {
        width: auto;
        height: auto;
        font-size: 15px;
    }

    #contact {
        height: 230px;
    }

    .contact {
        height: 90%;
    }

    .rest h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .rest p {
        font-size: 1rem;
        text-align: center;
    }

    .links h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .links p {
        font-size: 1rem;
        text-align: center;
    }

    .findus p {
        font-size: 1rem;
        text-align: center;
    }

    .findus h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    .footer {
        margin-bottom: 2rem;
    }
}